@font-face {
  font-family: NetlifeSansY;
  font-weight: normal;
  src: url(./fonts/NetlifeSansY-Regular.woff2) format("woff2");
}
@font-face {
  font-family: NetlifeSansY;
  /* font-weight: bold; */
  src: url(./fonts/NetlifeSansY-Bold.woff2) format("woff2");
}
/* Regular Netlife sans */
@font-face {
  font-family: NetlifeSans;
  font-weight: 400;
  src: url(./fonts/Netlife-Regular.woff2) format("woff2");
}
@font-face {
  font-family: NetlifeSans;
  font-weight: 700;
  src: url(./fonts/Netlife-Bold.woff2) format("woff2");
}
@font-face {
  font-family: NetlifeSansLining;
  font-weight: normal;
  src: url(./fonts/Netlife-Lining.woff2) format("woff2");
}

html,
body {
  @apply antialiased;
  @apply font-sans;
  font-size: responsive 18px 36.25px;
  font-range: 1152px 2265px; /* Magic numbers from the old SASS code */
  line-height: 1.55;
}

::-moz-selection {
  /* Code for Firefox */
  color: theme("colors.black.default");
  background: theme("colors.green.default");
}

::selection {
  color: theme("colors.black.default");
  background: theme("colors.green.default");
}

h1 {
  font-weight: theme("fontWeight.bold");
  text-transform: uppercase;
}
/* SORRY this is hacky but Tailwind made it hard */
.text-massive.leading-none {
  line-height: 1 !important;
}

.text-giga {
  font-size: 80vw;
  line-height: 70vw;
}

p {
}
.text-xl {
  line-height: 1 !important;
}
p a,
a.border-link {
  display: inline-block;
  border-bottom: 2px solid black;
  line-height: 1;
}
p a:hover,
a.border-link:hover {
  border-bottom: 2px solid theme("colors.green.dark");
  color: theme("colors.green.dark");
}
.rich-text {
  p {
    font-family: NetlifeSans;
    font-feature-settings: "ss01";
    @apply my-4;
    max-width: 24rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  img {
  }

  ul {
    font-family: NetlifeSans;
    font-feature-settings: "ss01";
    max-width: 24rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  li {
    @apply list-disc my-1;
  }

  h1,
  h2,
  h3 {
    max-width: 24rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  /* Removes padding and margin from the first element */
  h2:first-of-type {
    padding-top: 0;
    margin-top: 0;
  }

  h1 {
    font-size: responsive 42px 116px;
    font-range: 934px 2560px; /* Magic numbers from the old SASS code */
    line-height: 1.25;
  }
  h2 {
    font-size: responsive 26px 98px;
    font-range: 1040px 2320px; /* Magic numbers from the old SASS code */
    line-height: 1.15;
    text-transform: uppercase;
  }
  h3 {
    padding-top: 1.5em;
    line-height: 1.25;
  }
}

/* Very ugly hack, this needs to be fixed SORRY, time is short */
h2 + p {
  margin-top: 2rem !important;
}
/* First of type stylings for articles */
.rich-text p:first-of-type {
  margin-top: 4rem;
}

.rich-text h2:first-of-type {
  margin-top: 4rem;
}

.text-huge {
  line-height: 1 !important;
}
.netlife-sans {
  font-family: NetlifeSans;
  font-feature-settings: "ss01";
}
.netlife-sans-logo {
  font-family: NetlifeSans;
}
.netlife-sans-lining {
  font-family: NetlifeSansLining;
}
