.header-link {
}

.header-link {
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.header-link {
  cursor: pointer;
  transition: 0.2s ease-out;
}

.header-link:after {
  content: "→";
  position: relative;
  opacity: 0;
  right: -10px;
  transition: 0.2s ease-out;
  color: theme("colors.green.default");
}

.header-link:hover {
  padding-right: 8px;
  padding-left: 8px;
}

.header-link:hover:after {
  opacity: 1;
  right: -30px;
}

.aButton {
  transition: 1s ease all;
}
.aButton:hover {
  transition: 1s ease all;
}
.rotate {
  cursor: pointer;
}
.rotate:hover {
  transform: rotate(360deg);
  transform-origin: center;
  transition: transform 1s ease all;
}

.spin p {
  display: inline-block;
}
