.Plx {
  backface-visibility: hidden; /* Stops visible "tearing" on transition */
  transform: translateZ(0); /* Force hardware acceleration */
}

/*  For hiding plx elements that start with opacity 0 and end in opacity 1
    and use the startOffset property */
.plx-pre-hidden {
  opacity: 0;
}