// Both fonts are from https://open-foundry.com/fonts and the closest I could find to the propritery font from the sketches

@font-face {
  font-family: Bagnard;
  src: url("../../assets/fonts/Bagnard.otf") format("opentype");
}

// best alternative
@font-face {
  font-family: YoungSerif;
  src: url("../../assets/fonts/YoungSerif-Regular.otf") format("opentype");
}
