@import "../1_tools/variables";

@font-face {
  font-family: $font-regular-name;
  src: url($font-regular-path) format($font-regular-type);
}

@font-face {
  font-family: $font-bold-name;
  src: url($font-bold-path) format($font-bold-type);
}
