$container-width:($card-width*3) + ($card-space*2);
$container-width-desktop: ($card-width-desktop*3) + ($card-space*2);

.productCardContainerOuter {
  overflow-x: scroll;
  width: 100%;
  height: auto;
  max-width: $container-width;
  margin: 45px auto 45px 20px;
  @media (min-width: $medium-width) {
    margin-left: 45px;
  }
  @media (min-width: $large-width) {
    overflow-x: auto;
    margin: 55px auto 55px auto;
    height: auto;
    max-width: $container-width-desktop;
  }
}
.productCardContainerInner {
  display: flex;
  flex-direction: row;
  width: $container-width;
  @media (min-width: $large-width) {
    width: $container-width-desktop;
  }
}
